*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.o
*.lo
*.Plo
*.la
*.bak
*.Po
*.d
*.a
*.la
*.so
*.so.*
*.depend
*~
*.m4
*_install/*
externsions/openssl
*.libs/*
*.deps/*
pkg/
debug/*
RemoteSystemsTempFiles/*
.metadata/*
.settings/*
