*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.o
*.lo
*.Plo
*.la
*.bak
*.pc
*.ver
*.map
*.version
*.Po
*.d
*.a
*.la
*.so
*.so.*
*.depend
*~
*.bin
*.bin*
*.m4
*_install/*
externsions/openssl
externsions/freetype-2.10.0
externsions/gsoap-2.8
externsions/SDL2-2.0.12
*.libs/*
*.deps/*
pkg/
debug/*
RemoteSystemsTempFiles/*
.metadata/*
.settings/*
onvif/*
libupnp-1.14.5
bcm/
hisidir/
ikayaki/
rtsp源码/
zplmedia/bsp/*
multimedia/*
component/ssh/test/*
component/onvif/onvifgen/xml/*