*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.o
*.lo
*.Plo
*.la
*.bak
*.pc
*.ver
*.map
*.version
*.Po
*.d
*.a
*.la
*.so
*.so.*
*.depend
*~
*.bin
*.bin*
*.m4
*_install/*
source/component/ssh/test/*
source/component/onvif/onvifgen/xml/*
source/component/snmp/*
source/component/mqtt/examples/*
source/debug
source/halpal/pal/linux/iproute2-5.9.0/*
source/halpal/pal/linux/libiproute/*
source/halpal/pal/linux/tests/*
source/multimedia/ortp-5.0/src/tests/*
source/multimedia/ortp-5.0/tester/*
source/multimedia/ortp-5.0-new/*
source/multimedia/media/hisidir/
source/multimedia/media/ikayaki/
source/multimedia/media/rtsp源码/
source/multimedia/media/bsp/
source/multimedia/mu/
source/product/sdk-robo-5.9.2
source/product/bsp/pal/linux/iproute2-5.9.0
source/product/bsp/pal/linux/libiproute
source/quagga/*
quagga/*
source/rootfs_install
*.libs/*
*.deps/*
pkg/
debug/*
RemoteSystemsTempFiles/*
.metadata/*
.settings/*
*.pdf