<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>
<%+header%>
<%
        local wba = require "luci.tools.webadmin"
        local fs = require "nixio.fs"
        local io = require "io"
        local sys = require "luci.sys"
        
        function voip_enable_value()                                              
        local flag = false                                                      
        local val = io.popen("nvramenv show voip", "r")                         
        if val then                                                       
        while true do                                                   
                local value = val:read("*l")                                  
                if not value then break end                                         
                if value and value:match("^voip=enable") then                       
                        flag = true                                                       
                        break                                                             
                else                                                                
                        flag = false                                          
                        break                                                 
                end                                                     
        end                                            
        val:close()                                  
        end                                            
        return flag                                    
        end
        
        
        
        local voipenable = voip_enable_value() 

        function voipEnable()
            return sys.call("nvramenv add voip enable >/dev/null")
        end
        function voipDisable()
            return sys.call("nvramenv del voip >/dev/null")
        end
        
        function factory_get_mac()                                                                                                 
        local mval = io.popen("hexdump -v -n 6 -s 0x28 -e '5/1 \"%02x:\" 1/1 \"%02x\"' /dev/mtd2", "r")
        --local mval = nil                         
        if mval then                                                                                                      
            local mvalue = mval:read("*l")                                                                         
            if mvalue then                       
                mval:close()                                                       
                return mvalue                                                                                                           
            end
            mval:close()      
        end                                                                                                                                                                 
        return nil                                    
        end
            
        local macaddress = factory_get_mac()    
          
        function systemmac(mac)
            return sys.call("echo %s >/tmp/mac.txt" % mac)
        end        
%>
<%#
<script type="text/javascript">//<![CDATA[                                     
//]]></script>                                            
-%>                                         
<form method="post" action="<%=url('admin/voip/voip_status')%>">
  <div class="cbi-map">
    <h2 name="content"><%:Factory Configure%></h2>
      <div class="cbi-section">
        <legend><%:Global Voip Configure%></legend>
          <div class="table">
            <div class="tr">
              <div class="td left">
                <% if voipenable then %>
                  Voip Function : 
                  <input type="button" value="Disable" class="cbi-button cbi-button-apply" onclick="<% voipDisable() %>" />
                <% else %>
                  Voip Function : 
                  <input type="button" value="Enable" class="cbi-button cbi-button-apply" onclick="<% voipEnable() %>" />
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cbi-section">
        <legend><%:System MAC Configure%></legend>
          <div class="table">
            <div class="tr">
              <div class="td left">
                MAC Address : 
                <input style="margin: 5px 0" type="text" value="<%=macaddress%>" name="sysmac">
                <input type="button" value="Commit" class="cbi-button cbi-button-apply" onclick="<% systemmac(sysmac) %>" />
              </div>
            </div>
          </div>
        </div>
      </div>      
</form>

<%+footer%>
