<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+cbi/valueheader%>

<%
local sys = require "luci.sys"
local web = require "luci.tools.webadmin"
local fs = require "nixio.fs"

local uci = require "luci.model.uci"
local testing = uci.cursor()
--[[
local building = testing:get("dbase","roomdb","building") 
local unit = testing:get("dbase","roomdb","unit")
]]
local room = testing:get("dbase","roomdb","room") 
local phone = testing:get("dbase","roomdb","phone")   
local username = testing:get("dbase","roomdb","username") 
local user_id = testing:get("dbase","roomdb","user_id")  

%>                               
<fieldset class="cbi-section" id="cbi-table-table">
	<div class="cbi-section-descr">
	</div>
	<div class="cbi-section-node">
		<table class="cbi-section-table">
			<tbody>
				<tr class="cbi-section-table-titles">
				<th class="cbi-section-table-cell">UserName</th>
				<th class="cbi-section-table-cell">User ID</th>
				<th class="cbi-section-table-cell">Room Number</th>
				<th class="cbi-section-table-cell">Phone Number</th>
				<th class="cbi-section-table-cell">Add</th>
				<th class="cbi-section-table-cell">Delete</th>
				<th class="cbi-section-table-cell">Search</th>
			</tr>
				<tr class="cbi-section-table-descr">
				<th class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell"></th>
			</tr>
			<tr class="cbi-section-table-row cbi-rowstyle" id="cbi-table">
				<td class="cbi-value-field">
				<div id="building">
					<input style="width:80px;" type="text" class="cbi-input-text" name="username" id="username" minlength="4" maxlength="30" value="<%=username%>">
				</div>
				</td>

				<td class="cbi-value-field">
				<div id="unit">
					<input style="width:80px;" type="text" class="cbi-input-text" name="user_id" id="user_id" minlength="4" maxlength="30" value="<%=user_id%>">
				</div>
				</td>
				
				<td class="cbi-value-field">
				<div id="room">
					<input style="width:100px;" type="text" class="cbi-input-text" name="room" id="room" minlength="4" maxlength="8" value="<%=room%>" >
				</div>
				</td>

				<td class="cbi-value-field">
				<div id="phone">
					<input type="text" class="cbi-input-text" name="phone" id="phone" maxlength="30" value="<%=phone%>" >
				</div>
				</td>

				<td class="cbi-value-field">
				<div id="add">
					<input type="submit" class="cbi-button cbi-input-apply" name="add" id="add" value="Add">
				</div>
				</td>

				<td class="cbi-value-field">
				<div id="delete">
					<input type="submit" class="cbi-button cbi-input-remove" name="delete" id="delete" value="Delete">
				</div>
				</td>
				
				<td class="cbi-value-field">
				<div id="select">
					<input type="submit" class="cbi-button cbi-input-apply" name="select" id="select" value="Search" >
				</div>
				</td>

			</tr>
		</tbody>
	</table>
</div>
</fieldset>  
<%+cbi/valuefooter%>