#*.S
*.a
*.asm.s
*.d
*.gcda
*.gcno
*.o
*~
.cproject
.project
.settings
/*-*.mk
#/*.asm
/*.doxy
/*.ivf
/*.ivf.md5
/.bins
/.deps
/.docs
/.install-*
/.libs
#/Makefile
#/arm_neon.h
/config.log
#/config.mk
/docs/

