<!DOCTYPE html>
<html lang="en">
<head>
<!--#include "right.html"/-->
	<meta charset="utf-8">
	<title>OpenWrt - System - LuCI</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta name="x5-page-mode" content="app">
	<meta name="browsermode" content="application">
	<meta name="theme-color" content="#0099CC">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="msapplication-TileColor" content="#0099CC">

	<meta name="application-name" content="OpenWrt - LuCI">
	<meta name="apple-mobile-web-app-title" content="OpenWrt - LuCI">
	<meta name="msapplication-TileImage" content="/res/logo.png">
	<link rel="icon" href="/res/logo.png" sizes="144x144">
	<link rel="apple-touch-icon-precomposed" href="/res/logo.png" sizes="144x144">

	<link rel="stylesheet" href="/css/cascade.css">
	<link rel="shortcut icon" href="/res/favicon.ico">
	<script src="/js/cbi.js"></script>
	<script src="/js/xhr.js"></script>
	<script src="/js/jquery.min.js"></script>	
</head>
<body class="lang_en logged-in node-status-version">
<header>
	<% jst_header("header.html");%>
</header>

<div class="main">
	<!--  -->
	<div style="display: none;" class="loading"><span>
	<div class="loading-img"></div>Loading...</span></div>
	<div class="main-left">
		<% jst_menu("menu.html", "Status", "Version");%>
	</div>
	<div class="main-right">
		<div class="darkMask" style="display: none;"></div>	
		<div id="maincontent">
			<div style="display: none;" class="loading"></div>	
			<div class="container">
				<noscript>
					<div class="alert-message warning">
						<h4>JavaScript required!</h4>
						<p>You must enable JavaScript in your browser or web will not work properly.</p>
					</div>
				</noscript>
				<!-- main page -->
			</div>
		</div>
		<footer class="mobile-hide">
			<% jst_footer("footer.html");%>
		</footer>
	</div>	
	<!--script src="/js/script.js"></script-->
	<script src="/js/script.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#maincontent").load("version.html" +" #maincontent");
	});	
	</script>		
</div>
</body>
</html>
