<!DOCTYPE html>
<html lang="en">
<body class="lang_en logged-in node-system-system">
<div class="main">
	<div style="display: none;" class="loading"><span>
	<div class="loading-img"></div>Loading...</span></div>
	<div class="main-right">
		<div class="darkMask" style="display: none;"></div>
		<div id="maincontent">
			<div class="container">
				<noscript>
					<div class="alert-message warning">
						<h4>JavaScript required!</h4>
						<p>You must enable JavaScript in your browser or LuCI will not work properly.</p>
					</div>
				</noscript>
				<h2 class="center">Version</h2>
				<div class="cbi-section">
					<h3 class="center">System</h3>
					<div class="table" width="100%">
						<div class="tr">
							<div class="td left" width="33%">Hostname</div>
							<div class="td left"><%jst_hostname();%></div>
						</div>
						<div class="tr">
							<div class="td left" width="33%">Model</div>
							<div class="td left"><%jst_platform();%></div>
						</div>
						<div class="tr">
							<div class="td left" width="33%">Architecture</div>
							<div class="td left"><%jst_arch();%></div>
						</div>
						<div class="tr">
							<div class="td left" width="33%">Firmware Version</div>
							<div class="td left"><%jst_firmware_version();%></div>
						</div>
						<div class="tr">
							<div class="td left" width="33%">Kernel Version</div>
							<div class="td left"><%jst_kernel_version();%></div>
						</div>
						<div class="tr">
							<div class="td left" width="33%">Load Average</div>
							<div class="td left" id="loadavg"><% jst_cpu_load(); %></div>
						</div>
						<div class="tr">
							<div class="td left" width="33%">Memory Average</div>
							<div class="td left" id="loadavg"><% jst_memory(); %></div>
						</div>						
						<div class="tr">
							<div class="td left" width="33%">Local Time</div>
							<div class="td left" id="localtime"><% jst_localtime(); %></div>
						</div>
						<div class="tr">
							<div class="td left" width="33%">Uptime</div>
							<div class="td left" id="uptime"><% jst_uptime(); %></div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
