<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<%
module("luci.controller.admin.voip", package.seeall)
local uci = require("luci.model.uci")
local sys = require "luci.sys"

function index()
        local page
        entry({"admin", "voip"}, alias("admin", "voip", "voip"), _("Voip"), 35).index = true
        entry({"admin", "voip", "VoipConfig"}, cbi("admin_voip/voipconfig"), _("Session"), 1)           
        entry({"admin", "voip", "SipClient"}, cbi("admin_voip/sipconfig"), _("SipStack"), 2)
        --entry({"admin", "voip", "VoipTesting"}, cbi("admin_voip/voip_testing"), "Testing", 3) 
        page = node("admin", "voip", "VoipTesting")
        page.target=template("admin_voip/voip_testing")
        page.title=_("Testing")
        page.order=3
        page = entry({"admin", "voip", "start_call"}, call("call_start"), nil)
        page.leaf=true
        page = entry({"admin", "voip", "stop_call"}, call("call_stop"), nil)              
        page.leaf=true
        
        entry({"admin", "voip", "VoipStatus"}, template("admin_voip/voip_status"), "Status", 4)
end

function call_start()
        sys.call("uci set voipconfig.testing.callnum=sdaadsadad")
        sys.call("uci set voipconfig.testing.enable=1")
        return sys.call("uci commit voipconfig")
end

function call_stop()                                                            
        sys.call("uci set voipconfig.testing.callnum=aaaaaaa")                
        sys.call("uci set voipconfig.testing.enable=0")                          
        return sys.call("uci commit voipconfig")                       
end

        local wba = require "luci.tools.webadmin"
        local fs = require "nixio.fs"
        local io = require "io"
        local sys = require "luci.sys"
        require("uci")
        
        local testing = uci.cursor()
        
        local call_enable = testing:get("voipconfig","testing","enable")
        local call_oldnum = testing:get("voipconfig","testing","callnum")
        local call_state = testing:get("voipconfig","testing","callstate")  
                
%>
                                    

<form method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
        <div class="cbi-map">
                <h2><a id="content" name="content"><%:Voip Testing%></a></h2>

                <fieldset class="cbi-section">
                        <legend><%:Call Testing%></legend>
                        <br />

                        <div style="width:30%; float:left">
                                <% if call_enable then %>
                                <input style="margin: 5px 0" type="text" value="<%=call_oldnum%>" name="callnumber" /><br />
                                <% else %>
                                <input style="margin: 5px 0" type="text" value="" name="callnumber" /><br />
                                <% end %>
                                <input type="button" value="<%:Call%>" class="cbi-button cbi-button-apply" onclick="'<%=luci.dispatcher.build_url("admin/voip/start_call")%>'" />
                                <input type="button" value="<%:Stop%>" class="cbi-button cbi-button-apply" onclick="'<%=luci.dispatcher.build_url("admin/voip/stop_call")%>'" />                                
                        </div>
                </fieldset>
        </div>

</form>
<%+footer%>