<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%
        local wba = require "luci.tools.webadmin"
        local fs = require "nixio.fs"
        local io = require "io"
        local sys = require "luci.sys"
        local uci = require "luci.model.uci"
        --require("uci")
        
        local voip = uci.cursor()
        
        local sip_multi_user = voip:get("voipconfig","sip","sip_multi_user")
        local sip_active_standby = voip:get("voipconfig","sip","sip_active_standby")
        local sip_keepalive = voip:get("voipconfig","sip","sip_keepalive")
        local sip_proxy_enable = voip:get("voipconfig","sip","sip_proxy_enable")
        
        local voipLocal = voip:get("voipconfig","sip","sip_source_interface")
        local voiplPort = voip:get("voipconfig","sip","sip_local_port") 
        local voipPlay = voip:get("voipconfig","sip","payload") 
        local voipDtmf = voip:get("voipconfig","sip","dtmf")
        local voipProto = voip:get("voipconfig","sip","proto")
                
        local voipEnable = voip:get("voipconfig","status","enable")
        local voipRegister = voip:get("voipconfig","status","regstate")
        local voipTalk = voip:get("voipconfig","status","voiptalk") 
        
        local voipActive = tonumber(voip:get("voipconfig","status","regmain")  or 1)
        --local step = tonumber(luci.http.formvalue("step") or 1)
        
        
        local voipUser = nil
        local voipPhone = nil
        local voipServer = nil
        local voipPort = nil
                
        if voipActive == 1 then        
        voipUser = voip:get("voipconfig","sip","username")
        voipPhone = voip:get("voipconfig","sip","localphone") 
        voipServer = voip:get("voipconfig","sip","sip_server")
        voipPort = voip:get("voipconfig","sip","sip_port") 

        else
        voipUser = voip:get("voipconfig","sip","username_sec")
        voipPhone = voip:get("voipconfig","sip","localphone_sec") 
        voipServer = voip:get("voipconfig","sip","sip_server_sec")
        voipPort = voip:get("voipconfig","sip","sip_port_sec")       
        end

        local regStatus = {
			[0] = "unknow",         
			[1] = "unregister",        
			[2] = "Register Failed",
			[3] = "Register Success"
		}
        local talkStatus = {
			[0] = "IDLE",         
			[1] = "Talking",        
		}		
                       
%>
                                    
<%+header%>

<div class="cbi-map" id="cbi-voipconfig">
	<h2><a id="content" name="content"><%:Voip Status%></a></h2>
	<div class="cbi-map-descr"><%:The following Status are currently active on this system.%></div>

	<fieldset class="cbi-section">
		<legend>SIP Config</legend>
		<div class="cbi-section-node">
			<table class="cbi-section-table">
				<tr class="cbi-section-table-titles">
					<th class="cbi-section-table-cell">User</th>
					<th class="cbi-section-table-cell">Phome</th>
					<th class="cbi-section-table-cell">Server</th>
					<th class="cbi-section-table-cell">DTMF</th>
				    <th class="cbi-section-table-cell">Payload</th>				    								
					<th class="cbi-section-table-cell"><%:Source Interface%></th>
				</tr>
				<tr class="cbi-section-table-row cbi-rowstyle-1">
					<td class="cbi-value-field"><%=voipUser%></td>
					<td class="cbi-value-field"><%=voipPhone%></td>
					<td class="cbi-value-field"><%=voipServer%>:<%=voipPort%></td>
					<td class="cbi-value-field"><%=voipDtmf%></td>
					<td class="cbi-value-field"><%=voipProto%>:<%=voipPlay%></td>				
					<td class="cbi-value-field"><%=voipLocal%>:<%=voiplPort%></td>
				</tr>
			</table>
		</div>
	</fieldset>
	<br />
	
	<fieldset class="cbi-section">
		<legend>SIP Status</legend>
		<div class="cbi-section-node">
			<table class="cbi-section-table">
				<tr class="cbi-section-table-titles">
					<th class="cbi-section-table-cell">User</th>
					<th class="cbi-section-table-cell">Phome</th>
					<th class="cbi-section-table-cell">Server</th>
					<th class="cbi-section-table-cell">RegisterStatus</th>
				    <th class="cbi-section-table-cell">VoipStatus</th>			    								
					<th class="cbi-section-table-cell"><%:Source Interface%></th>
				</tr>
				<tr class="cbi-section-table-row cbi-rowstyle-1">
					<td class="cbi-value-field"><%=voipUser%></td>
					<td class="cbi-value-field"><%=voipPhone%></td>
					<td class="cbi-value-field"><%=voipServer%>:<%=voipPort%></td>
					<td class="cbi-value-field"><%=regStatus[tonumber(voipRegister)]%></td>
					<td class="cbi-value-field"><%=talkStatus[tonumber(voipTalk)]%></td>					
					<td class="cbi-value-field"><%=voipLocal%>:<%=voiplPort%></td>
				</tr>
			</table>
		</div>
	</fieldset>
	<br />
	
</div>

<%+footer%>
