*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.o
*.lo
*.Plo
*.la
*.bak
*.pc
*.ver
*.map
*.version
*.Po
*.d
*.a
*.la
*.so
*.so.*
*.depend
*~
*.bin
*.bin*
*.m4
*_install/*
externsions/openssl
externsions/test
externsions/freetype-2.10.0
externsions/gsoap-2.8
externsions/SDL2-2.0.12
externsions/readline
externsions/libnl/*
halpal/pal/linux/iproute2-5.9.0/*
halpal/pal/linux/libiproute/*
halpal/pal/linux/tests/*
product/sdk-robo-5.9.2
product/nsp/pal/linux/iproute2-5.9.0
product/bsp/pal/linux/libiproute
*.libs/*
*.deps/*
pkg/
debug/*
RemoteSystemsTempFiles/*
.metadata/*
.settings/*
onvif/*
libupnp-1.14.5
bcm/
hisidir/
ikayaki/
rtsp源码/
multimedia/ortp-5.0/src/tests/*
multimedia/media/bsp/
multimedia/test/*
component/ssh/test/*
component/onvif/onvifgen/xml/*